# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/
demo.iml
mpq-test.iml
src/main/java/com/mpq/demo/dao/
src/main/java/com/mpq/demo/service/
src/main/resources/static/
src/main/resources/templates/
target/
